html {
  font-size: 14px;
}

body {
  background: #292e33;
  color: #fff;
}

.navbar {
  box-shadow: 0 10px 15px #00000012;
}

h3 {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

main {
  max-width: 800px;
}

.table {
  border-radius: 5px;
  color: #fff;
  background: #222c35;
  overflow: hidden;
  box-shadow: 0 3px 15px #00000038;
}

form button {
  text-transform: capitalize;
}

.table .btn {
  width: 60px;
}

select, option {
  cursor: pointer;
}

.table th {
  color: #ffff;
  background-color: #1d2124;
  border: none;
  border-color: #dee2e6;
}

.table tr.exercise:hover {
  background: #2d3740;
  cursor: pointer;
}

.table thead th {
  border: none;
}

.table td, .table th {
  border: none;
}